---
layout: "christmas2018"

outlet_id:
permalink: /christmas/
pub_name:

title: Christmas
heromain: It's Christmas!
herosub: <small>Book now and<br />celebrate with us</small>
heroimgpath: /assets/img/Christmas2018-backdrop.jpg

---
		
<style>
		.hero {
		
		background: url( {{ page.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: scroll;
		}
	
	
	@media only screen and (min-width : 48em)  { 
					
			.hero {	

			background-attachment: fixed;
			}		
					
					
		}
	
	
	
</style>			
		
		

<div class="container christmastext">


<p><strong>Christmas is coming. We're excited already. How about you, excited but stuck for a plan? Well, forget tackling the frozen turkey. Forget trying to remember who likes brussel sprouts and who doesn't. Forget who's gone veggie and who hasn't. Forget trying to find enough seats of the same height, enough to fit the extended family around the table. Just forget it. We've got a much better idea…</strong></p>

<p>Instead of working, why not take the day off and leave all the preparation to us? It’s a holiday after all. Let our team spoil you with a real cracker of a Christmas dinner. Christmas at Our Local is as easy as walking to the pub.<br /><br />Ready to order? Check for pricing and availability at your <a href="/pubs/">nearest local pub serving our Christmas menu</a>. We look forward to you joining us for the biggest celebration of the year. <strong>Perfect</strong></p>

</div>


<div class="container christmastext">
		
{% include featurecard-block-christmas2018.html %}
{% include signup.html %}




