---
layout: htmlbase
title: Pubs
pagetitle: "Find a local pub"
permalink: /pubs/

---
<div class="fullbg section">
	
	<div class="section-header">
			 <div>
			 	<h1>Find a pub:</h1>
				<h2>A growing collection of great local pubs</h2>
			</div>
			<img class="supp-image" src="{{ "/assets/img/map-with-pins.jpg" | relative_url }}" alt="map pin image"/>
	</div>
 
	<div class="map"></div>
	
</div><!-- eof section -->

<div class="fullbg section">
	
	<div class="pubs">
		
	{% for pub in site.pubs %}	
	
	{% if pub.pub_data == 'master' %}  
	
		<article class="pub-card" id="{{ pub.outlet_id }}" >
			<img src="{{ pub.baseurl }}{{ pub.pub_assets_url }}{{ pub.pubimg_location }}" alt="{{ pub.pub_name }}"/>
			<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<h1 itemprop="name">{{ pub.pub_name }}</h1>
				<p>
					<span itemprop="streetAddress">{{ pub.pub_addressStreet  }}</span>, 
					<span itemprop="addressLocality">{{ pub.pub_addressLocality }}</span>,<br /> 
					<span itemprop="addressRegion">{{ pub.pub_addressRegion }}</span>, 
					<span itemprop="postalCode">{{ pub.pub_addressPostcode }}</span>
				</p>
			</div>	
			<div  class="pub-card-footer"><a href="{{ pub.permalink }}" class="button buttoncta">Visit website</a> <a href="{{ pub.googlemap-link }}" class="button button" target="_blank">View on google maps</a></div>
		</article><!-- eof pub-card -->	
{% endif %}		
{% endfor %}
		
	</div><!-- end pubs-->
</div><!-- end fullBG -->			

<script src="/assets/js/map-app.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5cwhe5fvxM8WkVE9g6DHo4agKvO89qnA&callback=initMap"></script><!-- ebiz google account -->




