---
layout: htmlbase
title: News & Offers
permalink: /news/
pagetitle: "News & Offers"
pagination: 
  enabled: true
---

<div class="fullbg section article-list">
	
	
	 <div class="section-header">
		 <div>
			 <h1>Our Latest News </h1>
			 <h2>Find out what's going on at your local pub</h2> 
		</div>
		<img class="supp-image" src="{{ "/assets/img/lilDog.jpg" | relative_url }}" alt="lil' Dog" />

	</div>	
	
	<div class="news-container">
		
		
  <ul class="post-list">
    
        {% for post in site.tags.our-local %}

    
           <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br />{{ page.tag }}
         <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        <img class="article-list-image" src="{{ "/postimages/" | relative_url }}{{ post.feat-image }}" alt="{{ page.img-alt }}"/> 
        <p class="linktoarticle"><a class="post-link" href="{{ post.url | relative_url }}">[read more...]</a></p>
        
        </li>

    {% endfor %}
  </ul>





{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}

	</div><!--eof text container -->