<div class="christmastext book4xmas">


	
	<h2>~ How to Book ~</h2>
	
	<p><strong>We'd love you to join us this Sunday.</strong><br />Contact us via one of the methods below and we'll make sure everything is ready for your arrival.</p>

	<div class="book4xmas-actions">
		
		<div class="book4xmas-phone button buttoncta">
			<p>Give us a call on:</p>
			<h3><a href="tel:{{ pubdetails.pub_phone }}">{{ pubdetails.pub_phone }}</a></h3>
		</div>	
		
		<div class="book4xmas-email button buttoncta">
			<p>Drop us a line</p>
			<h3> via <a href="mailto:{{ pubdetails.pub_email }}?subject=Website Christmas Booking Enquiry">Email</a></h3>
		</div>
		
	</div>	
	
	<p><strong>…Or just pop in, we'd love to see you in person</strong></p>
</div>