
	
{% if pubdetails.promo-menu-link %}
	<div class="featuredcard-christmas christmas-day">
		<a href="{{ pubdetails.promo-menu-link }}" class="featuredcard">
			<div class="featureheader">
				<h3>Christmas Day</h3>
			</div>
		</a>
	</div><!-- eof card -->	
	
	<div class="featuredcard-christmas  christmas-fayre">
		<a href="{{ pubdetails.xmas-fayre-menu-link }}" class="featuredcard">
			<div class="featureheader">
				<h3>Christmas Fayre</h3>
			</div>	
		</a>
	</div><!-- eof card -->
</div><!--eof container -  -->

{% else %} 

	<div class="featuredcard-christmas christmas-day">
		<a href="/christmas/christmas-day-menu.html" class="featuredcard">
			<div class="featureheader">
				<h3>Christmas Day</h3>
			</div>
		</a>
	</div><!-- eof card -->	
	
	<div class="featuredcard-christmas  christmas-fayre">
		<a href="/christmas/christmas-fayre-menu.html" class="featuredcard">
			<div class="featureheader">
				<h3>Christmas Fayre</h3>
			</div>	
		</a>
	</div><!-- eof card -->
</div><!--eof container -  -->

{% endif %}	








	
