<div class="container">
	<div class="featuredcard locationcard">
		<div class="featureheader">
			<h3>Our<br />Locations</h3>
			<p>Find the best local pub near you</p>
		</div>
	</div><!-- eof card -->	
	
	<div class="featuredcard foodcard">
		<div class="featureheader">
			<h3>Our Food<br />& Drink</h3>
			<p>What are we serving up today</p>
		</div>	
	</div><!-- eof card -->	
	
	<div class="featuredcard newscard">
		<div class="featureheader">
			<h3>Our News<br />& Offers</h3>
			<p>See what happening at Our Local</p>
		</div>
	</div><!-- eof card -->	
	</div>
</div><!--eof container -  -->