<div class="container">

	<div class="featuredcard locationcard">
		<a href="/locations.html" class="featuredcard-home">
			<div class="featureheader">
				<h3>Our<br />Locations</h3>
				<p>Find the best local pub near you</p>
			</div>
		</a>
	</div><!-- eof card -->	
	
	<div class="featuredcard foodcard">
		<a href="/food-and-drink.html" class="featuredcard-home">
			<div class="featureheader">
				<h3>Our Food<br />& Drink</h3>
				<p>What are we serving up today</p>
			</div>	
		</a>
	</div><!-- eof card -->
		
	
	<div class="featuredcard newscard">
		<a href="/news.html" class="featuredcard-home">		
			<div class="featureheader">
				<h3>Our News<br />& Offers</h3>
				<p>What's happening at Our Local</p>
			</div>
		</a>
	</div><!-- eof card -->	


</div><!--eof container -  -->