<div class="container">
	<div class="card featuredcard locationcard">
		<div class="featureheader">
			<h3>Locations</h3>
			<p>Find the best local pub near you</p>
		</div>
	</div><!-- eof card -->	
	
	<div class="card featuredcard foodcard">
		<div class="featureheader">
			<h3>Our Food & Drink</h3>
			<p>What are we serving up today</p>
		</div>	
	</div><!-- eof card -->	
	
	<div class="card featuredcard newscard">
		<div class="featureheader">
			<h3>Latest News & Offers</h3>
			<p>See what happening at Our Local</p>
		</div>
	</div><!-- eof card -->	
	</div>
</div><!--eof container -  -->