<div class="navcontainer">
	<div class="badge">	<!--<img src="../assets/img/Feel-at-Home.png" alt="Feel at home at your local pub" /> -->
		<h1>{{ layout.title }}{{ page.title }}</h1>
		<div class="iconcontain" id="iconContain">
			<div class="hamicon open" id="hamIcon"></div>
		</div><!-- eof iconcontain -->		
	</div>	<!-- eof badge -->
	<nav class="main-nav" id="mainNav">
		<ul class="show" id="mainNavList">		
			{% for menu in site.data.mainNav %}
			<li class="{% if page.url == menu.url %}active{% endif %}"><a href="{{ menu.url }}">{{ menu.title }}</a></li>	
			{% endfor %}
		</ul>	
	</nav>		
</div><!-- eof navcontainer -->


