<div class="navcontainer">
	<div class="badge">	
		<img class="bgscrn" src="../assets/img/Feel-at-Home.png" alt="Feel at home at your local pub" />
<!-- 	<h1 class="smlscrn">{{ layout.title }}{{ page.title }}</h1> -->
	<h1 class="smlscrn">Our Local</h1>
		<div class="iconcontain" id="iconContain">
			<div class="hamicon open" id="hamIcon"></div>
		</div>		

	</div>	
	
	<nav class="main-nav" id="mainNav">
		<ul  class="show contract" id="mainNavList">		
			{% for menu in site.data.mainNav %}
				<li class="{% if page.url == menu.url %}active{% endif %}"><a href="{{ menu.url }}">{{ menu.title }}</a></li>	
			{% endfor %}
		</ul>
	</nav>			
</div><!-- eof navcontainer -->


