<style>
	.newopen {background: rgba(191, 47, 47, 0.8); padding: 1em auto; border-radius: 50%; color: #fff; max-width: 250px; position: absolute; top: 8em; right: 2em; transform: rotate(4deg); }
	.newopen h2 {padding: 0 0 .4em 0; margin: 0; font-size: 1.2em; font-family: 'Lobster', cursive;text-align: center;}
	.newopen p.badgesmall {padding: 0; margin: 0; font-size: 14px;text-align: center;}
	.innerbadge {margin: 1em auto; width: 200px; max-width: 200px; text-align: center;}
</style>	

<div class="newopen">
	<div class="innerbadge">
		<h2>Opening:<br />{{ page.opening }}</h2>
		<p class="badgesmall">Join us and see <br />our fresh new look</p>
	</div>
</div>