<div class="fullbg xmaspromo">
	<div class="promo-block">	
		<div class="textarea">
			<h2>We've got Christmas sorted</h2>
			<p><strong>Christmas is coming. We're excited already. How about you, excited but stuck for a plan? Well, forget tackling the frozen turkey. </strong></p>
			<p>Take the day off and leave all the preparation to us? It’s a holiday after all...</p>
			<p>See what you could be doing for <a href="{{ page.permalink }}christmas/">Christmas</a>.</p>
		</div>
		
		<div class="bgimg"></div>
	</div>
</div>




