<div class="fullbg bglavender">
	<div class="promo-block">	
		<div class="textarea">
			<h2>Feeling Hungry?</h2>
			<p><strong>We've taken our great local pub menu and given it a twist.</strong></p>
			<p>After proper pub classics? They're all here, along with a great selection of lighter dishes, gluten-free and tasty vegetarian options too. 
<br />Join us for a bite to eat, you'll be glad you did.</p>
			<p>Check out our <a href="{{ page.permalink }}food-and-drink/">new menu</a> ahead of your visit.</p>
		</div>
		
		<div class="bgimg"></div>
	</div>
</div>		

