<div class="fullbg mothersday ">
	<div class="promo-block">	
		<div class="textarea">
			<h3>Join us Sunday 31st March for</h3>
			<h2>Mothers Day</h2>
			<p><strong>Indulge with Mum. Buy any main and get a starter or dessert for only £3.95</strong></p>
			
			<button class="buttoncta"><a href="{{ page.permalink }}food-and-drink/mothers-day.html">See the menu</a></button>
			<p><a href="tel:{{ page.pub_phone }}">Call: {{ page.pub_phone }}</a> or <a href="mailto:{{ page.pub_email }}?subject=Valetines-Enquiry">Email us</a> to book</p>
			
		</div>		
	</div>
</div>		

