<!--

<div class="fullbg bggreen">
	<div class="promo-block">	
		<div class="textarea">
			<h2>Try our New Menu</h2>
			<p><strong>Fancy something a bit different? We've taken a great local pub menu and given it a twist.</strong></p>
			<p>Don't worry if you're after the classics, they're all here - steak, pies, fantastic fish and chicken dishes. Join us for something to eat, you'll be glad you did.</p>
			<p>Checkout our <a href="/food-and-drink">new menu</a> ahead of your visit.</p>
		</div>
		
		<div class="bgimg"></div>
	</div>
</div>		
-->
<!-- <div class="bggreen"> -->

	<div class="promo-block fullbg parallax">
	
<!-- 		<div class="parallax_group"> -->
				
<!-- 				<div class="parallax">		 -->
						  

					<div class="parallax__layer parallax__layer--back">
<!-- 					   <img src="assets/img/dessert.jpg" alt="dessert"> -->
<!-- 					   	<img src="assets/img/pie.jpg" alt="PIE"> -->
	
					</div> 
					
					<div class="parallax__layer parallax__layer--top">	
						<div class="textarea">
						<h2>Try our New Menu</h2>
							<p><strong>Fancy something a bit different? We've taken a great local pub menu and given it a twist.</strong></p>
							<p>Don't worry if you're after the classics, they're all here - steak, pies, fantastic fish and chicken dishes. Join us for something to eat, you'll be glad you did.</p>
							<p>Checkout our <a href="/food-and-drink">new menu</a> ahead of your visit.</p>
						</div>			
					</div>
<!-- 				</div> -->
				
<!-- 		</div><!-- eof  paragroup -->	 
	
	</div><!-- eof promo block-->
<!-- </div> -->