{% assign pubdetails = site.pubs | where:"outlet_id", page.outlet_id  | first %}

<div class="navcontainer">
	<div class="badge">	
			<h1>{{ pubdetails.pub_name }}</h1>
		<div class="iconcontain" id="iconContain">
			<div class="hamicon open" id="hamIcon"></div>
		</div>		

	</div>	
	
	<nav class="main-nav" id="mainNav">
		<ul  class="show contract" id="mainNavList">		
			{% for menu in site.data.pubnavs.[pubdetails.pub_nav] %}
				<li class="{% if page.url == menu.url %}active{% endif %}"><a href="{{ menu.url }}">{{ menu.title }}</a></li>	
			{% endfor %}
			{% if pubdetails.xmas-menu-link %}
			<li><a href="{{ pubdetails.permalink }}christmas/">Christmas</a></li>
			{% endif %}
		</ul>
	</nav>			
</div><!-- eof navcontainer -->




