<div class="fullbg signup">

	<div class="signup-container">
	
		<div class="title"><h2>Join Our Club</h2> <h3>Stay up-to-date with offers and events happening at your favourite local  </h3> <div class="indicates-required"><small><span class="asterisk">*</span> indicates required</small></div> </div>
	
	
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="https://PunchTavernsPlc.us7.list-manage.com/subscribe/post?u=581e84c0b04f9e953a3a3e23c&amp;id=a6570ba005&SIGNUPPAGE={{ page.url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
 <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_581e84c0b04f9e953a3a3e23c_a6570ba005" tabindex="-1" value=""></div>
 <!-- eof robot catcher -->
			   
			    <div id="mc_embed_signup_scroll">
				    
	 <span class="signupform-outer"><!-- jg -->

				<label for="mce-FNAME">First Name  <span class="asterisk">*</span> <input type="text" value="" name="FNAME" class="required" id="mce-FNAME"></label>
			
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></label>
				
		<span class="dater">			<div class="datefield">
	
<label for="mce-MMERGE3-month">Date of Birth<span class="asterisk">*</span></label>

		<span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE3[day]" id="mce-MMERGE3-day"></span> / 
        <span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE3[month]" id="mce-MMERGE3-month"></span> / 
		<span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE3[year]" id="mce-MMERGE3-year"></span>
	</div>
		</span>
				
				
				
				<input type="submit" value="Join today" name="subscribe" id="mc-embedded-subscribe" class="button">
				
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="hidden" value="{{ page.url }}" name="SIGNUPPAGE" class="" id="mce-SIGNUPPAGE">{{ page.url }}</input></div>

	 </span><!-- END JG -->
			
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    			   
			    </div><!-- end mc_embed_signup_scroll -->
			</form>
		</div>
			
		<!--End mc_embed_signup-->

	</div>

</div><!-- eof signup -->
