<style>
	.socialcontainer {margin: 0 auto;}
</style>	
	<!-- social feed area -->
<div class="fullbg bluepattern" id="whats-happening">
	
	<div class="socialcontainer">
			<h2>See what's happening…</h2>
			
				<div class="social-media-wall"  data-cfg-wallid={{ page.wall_id }}></div><script async src="https://static.socialmediawall.io/w/init-wall.js"></script>				
				
	</div><!-- eof socialcontainer -->
</div><!-- eof bg -->







<!--
		{% assign outletid = site.data.socialwall[page.outletid] %}
		<div class="social-media-wall"  data-cfg-wallid={{ outletid.wallID }}></div><script async src="https://static.socialmediawall.io/w/init-wall.js"></script>
-->