
<footer>
	<div class="footercontent cols">
		<ul class="col col1">
			<li><a href="/signup">Signup to our list</a></li>
			<li><a href="{{ "/social/" | relative_url }}">We're Social, follow us!</a></li>
		</ul>
		<ul class="col col2">
			<li><a href="{{ '/pubs' | relative_url }}">Find more great pubs like this</a></li>
			<li><a href="{{ pubdetails.permalink }}find/index.html">Contact us</a></li> 
		</ul>
		<ul class="col col3">
			<li><a href="{{ '/privacy/' | relative_url }}" target="_blank"><li>Legal &amp; Privacy</a></li>
			<li><a href="http://www.drinkaware.co.uk"><li>Drinkaware</a></li>
		</ul>	
	</div><!-- eof of footer cols-->
		
<!--	<p><small class="sizes">   <span style="color: #fff;">url: {{ page.path }}</small><p>	-->
			
	<p><small>Designed & built in Burton by <a href="https://punchtaverns.com">Punch</a>. Updated: {{ site.time | date_to_long_string }} {% if page.title == Our Local Pub %} {{ page.title }} {% endif %}</small></p>
</footer>

</div><!-- eof container, which starts in header includes -->
<div class="cookie-notes" id="cookieNotes"><p>This website like most, uses cookies. Cookies allow us to see how our site is used. This information allows us to improve both yours and future visitors experience. By using this website you acknowledge and agree to our use of cookies for analytics and marketing - <strong>we do not sell your information to third parties</strong>. To find out more about the cookies we use and how to remove them, please see our legal & privacy section.<button id="cookieClose" class="cookie-close">Close</button></p></div><!-- eof cookies -->