<div class="fullbg valentine19">
	<div class="promo-block">	
		<div class="textarea">
			<h2>Valentine's <span class="pink">Dinner for Two</span></h2>
			<p><strong>Two Steaks <span class="pink">+</span> Two Puddings <span class="pink">+</span> Bottle of Wine</strong></p>
			<h2>£30 per couple</h2>
			
			<button class="buttoncta"><a href="tel:{{ page.pub_phone }}">Call us to book</a></button>
			<p><a href="tel:{{ page.pub_phone }}">Call: {{ page.pub_phone }}</a> or <a href="mailto:{{ page.pub_email }}?subject=Valetines-Enquiry">Email us</a></p>
			
		</div>
	</div>
</div>		


