@import 'widgets/_footer.scss';
@import 'widgets/_header.scss';
@import 'widgets/_nav.scss';
@import 'widgets/_tables.scss';
@import 'widgets/_menus.scss';
@import 'widgets/_card.scss';
@import 'widgets/_promoblock.scss';
@import 'widgets/_socialblock.scss';
@import 'widgets/_map.scss';