---
layout: htmlbasepubmain
pubname: The Bull & Dog
pubnav: 'TheBullAndDogOrmskirk'
outletid: 680268
wallid: '26467'
title: The Bull &amp; Dog
pagetitle: "the-bull-and-dog-ormskirk"
permalink: /pubs/the-bull-and-dog-ormskirk/index.html
heromain: Welcome
herosub: to the Bull &amp; Dog
heroimgpath: '/pubs/the-bull-and-dog-ormskirk/img/bullanddogbar.jpg'
---


<style>
		.hero {
		
		background: 
		linear-gradient( rgba(143, 176, 144, 1) 0%, 
		rgba(143, 176, 144, 0.05) 50%, 
		rgba(143, 176, 144, 1) 1000%),
		url( {{ page.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		}
	
</style>	




<div class="fullbg section">
	<div class="container pub-home">
		

		
		<div class="intro">
		
				<p><strong>The Bull & Dog in Burscough is a proper local pub, right at the heart of the local community.</strong> The pub retains all of its charm & warmth of welcome for both regulars and visitors alike.</p>
				<p>Located on the main road through Burscough, this impressive old inn offers something for everyone. <a href="/pubs/the-bull-and-dog-ormskirk/food-and-drink/">Feeling a little hungry</a>, or just fancy a quick pint?</p>
			
		</div> <!-- eof intro -->	
			
		<div class="intro-img"><img src="{{ site.baseurl }}/assets/img/680268/bullanddogfrontage.jpg" alt="bullanddogfrontage" /><br />
		<img src="{{ site.baseurl }}/assets/img/680268/bullanddogteam.jpg" alt="bullanddogteam" />
		</div>				
			
	</div><!-- eof pub-home-->
</div><!-- eof full bg-->	


{% include socialwall-block.html %}	

{% include signup.html %}	



