---
layout: htmlbasepubmain
pubname: (human readable pub name)
pubNav: (Navigation file for individual pub nav - kept in _data/pubsnavs .yml format)

title: ( HTML <title> tag. preceeded by Your Local Pub: )
pagetitle: ( The title of the actual page eg 'About' )
permalink: (page permalink if eg: "/pubs/the-boot-inn-sutton-coldfield/index.html" )
heromain: (Hero element main text - ideally one or two words)
herosub: (here element sub text line three or four words)
---

<div class="fullbg section">
	<div class="container pub-home">
		

		
		<div class="intro">
		
				<p><strong>Intro content</strong> A brief intro to the pub.</p>
				
			
		</div> <!-- eof intro -->	
			
		<div class="intro-img"><img src="{{ site.baseurl }}/assets/img/placeholder.jpg" alt="alt text" /><br />
		<img src="{{ site.baseurl }}/assets/img/placeholder.jpg" alt="alt text" />
		</div>				
			
	</div><!-- eof pub-home-->
</div><!-- eof full bg-->	

{% include socialwall-block.html %}	

{% include signup.html %}	
