html{	
	box-sizing: border-box;
	word-break: normal;
	transition: all .5s;
	font-size:100%;
	transition: all .8s;
	}	
@keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
  	}		
  	
body{ 	
	font-size:16px;
	@include breakpoint(break1) {font-size:1.1em;}
	@include breakpoint(break2) {font-size:1.2em; }
	@include breakpoint(break3) {font-size:1.25em; }
	@include breakpoint(break4) {font-size:1.3em; } 
	@include breakpoint(break5) {font-size:1.4em; } 
	}								
.container,
.footercontent,
.promo-block,
.socialcontainer,
.about-container,
.news-container,
.events-container,
.menu-header,
.menu-container,
.map,
.section-header,
.pubs,
.signup-container,
.privacy-container
	{
	width: 96%;
	max-width: 96%;
	margin: 3em auto 0;
	//border: 1px solid #ff009e; //for testing	
	@include breakpoint(break1) {max-width:96%;}
	@include breakpoint(break2) {max-width:90%;}
	@include breakpoint(break3) {width: 85%; max-width:85%; }
	@include breakpoint(break4) {max-width:85%;}
	@include breakpoint(break5) {max-width:85%;}	
	}	

img {max-width: 100%;
	.content-img {height: 10vh;} 
}


//////// elements with grid refs

.container{

	@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.5em;
		}						
	}
	
.footercontent {		
	@include breakpoint(break4) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.5em;
		}						
	}

.menu-header, .section-header {
	
		@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 2em;
		}						
	}

.section-header.find-pub-header {
	
		@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
		}						
	}

.section {
	@include breakpoint(break5) {margin-top: -2em; padding-top: 2em;}
	}


.pubs { 

		@include breakpoint(break1) {}
		@include breakpoint(break2) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1.5em;
			}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {
			grid-template-columns: 1fr 1fr 1fr;
			}
		@include breakpoint(break5) {}		

	.pub-card{		
		@include breakpoint(break4) {}
		@include breakpoint(break5) {}						
		}
				
	}


.fullbg{ 
	width: 100%;
	
		
	&.bggreen {background: #8fb090;}
	&.bglavender {background: #7c6c84;}

	&.bgblue {background: rgba(31, 60, 74, 0.98);}
	&.bluepattern {background: url(/assets/img/patternBlue.png);}	
	
	&.section{
		background: #f4f1ed;
		background-attachment: fixed;
		background-size: cover;
		overflow: hidden;	
	
		@include breakpoint(break3) {
			background-image: url(/assets/img/menutexture-dk.jpg);

			}		
	}
}