
//test breakpoint scss
//$break-1: 28.125em; /* 450px / 16px = 28.125em */
//$break-2: 35em; /* 560px / 16px = 35em */
//$break-3: 48em; /* 768px / 16px = 48em */
//$break-4: 56em; /* 896px  / 16px = 56em */
//$break-5: 76.5em; /* 1224px / 16px = 76.5em */
 
@keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
  	}  	
  	
html{	
/*
	
	animation-name: fader;
  	animation-duration: .2s;
  	animation-delay: 0;
  	animation-timing-function: ease-in;
*/
	box-sizing: border-box;
	word-break: normal;
	transition: all .5s;
	font-size:100%;
	transition: all .8s;
	}
	
	
body{ 	
	font-size:16px;
	@include breakpoint(break1) {font-size:1.1rem;}
	@include breakpoint(break2) {font-size:1.2rem;}
	@include breakpoint(break3) {font-size:1.25rem;}
	@include breakpoint(break4) {font-size:1.3rem;} 
	@include breakpoint(break5) {font-size:1.4rem;} 
	}	
				
				
.container,
.footercontent,
.promo-block,
.socialcontainer,
.about-container,
.news-container,
.events-container,
.menu-header,
.menu-container,
.map,
.section-header,
.pubs,
.signup-container,
.privacy-container, {
	max-width: 96%;
	margin: 3em auto 0;
	//border: 1px solid #eee; //for testing	
	@include breakpoint(break1) {max-width:96%;}
	@include breakpoint(break2) {max-width:90%;}
	@include breakpoint(break3) {max-width:85%;}
	@include breakpoint(break4) {max-width:85%;}
	@include breakpoint(break5) {max-width:85%;}	
	}	

img {max-width: 100%;
	.content-img {height: 10vh;} 
}


//////// elements with grid refs

.container{

	@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.5em;
		}						
}
.footercontent {
		
	@include breakpoint(break4) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.5em;
		}						
}




.menu-header, .section-header {
	
		@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 2em;
		}						
}



.section-header.find-pub-header {
	
		@include breakpoint(break4) {
		display: flex;
		flex-wrap: wrap;
		}

	@include breakpoint(break5) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
		}						
}

.section {
	@include breakpoint(break5) {margin-top: -2em; padding-top: 2em;}

}


.pubs { 

		@include breakpoint(break1) {}
		@include breakpoint(break2) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1.5em;
			}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {
			grid-template-columns: 1fr 1fr 1fr;
			}
		@include breakpoint(break5) {}		

	.pub-card{		
		@include breakpoint(break4) {}
		@include breakpoint(break5) {}						
		}
				
	}
//// backgrounds

.fullbg{ 
	width: 100%;
	
		
	&.bggreen {background: #8fb090;}
	&.bgblue {background: rgba(31, 60, 74, 0.98);}
	&.bluepattern {background: url(/assets/img/patternBlue.png);}	
	&.section{
		background-image: url(/assets/img/menutexture-dk.jpg);
		background-attachment: fixed;
		background-size: cover;
		overflow: hidden;		
	}
}		



	
	



		

