//article page

.article-page{

	h1 {
		margin-bottom: .4em;
		}
		
	.post-meta {
		background: rgba(255, 255, 255, 0.8);
		padding: 0.3em;
		margin: 1em 0;
		}
		
	.news-container {
		
		p:first-of-type {font-weight: 600;}
		
		@include breakpoint(break4) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-column-gap: 2em;
			}
		@include breakpoint(break5) {
			p {font-size: 1.1em;}
		}	
		@include breakpoint(break6) {
			p {font-size: 1.2em;}
		}
		img {width: 100%; margin-bottom: .3em;}			
}
	


}




//article list

.article-list {
	
	.news-container {
		
	.post-list{
		margin: 0em auto 2em;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		
		@include breakpoint(break2) {display: grid;grid-template-columns: 1fr 1fr; grid-column-gap: 1.5em;}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {grid-template-columns: 1fr 1fr 1fr;}
		@include breakpoint(break5) {}	
		}
		
		li {background: #fff;}
		
		a {text-decoration: none; color: rgba(143, 176, 144, 1);
			&:hover {text-decoration:underline;}
		}

		h2 {font-size: 2rem;text-decoration:none; color: rgba(143, 176, 144, 1); margin: 0 0 .4em; padding: 0 .4rem;font-size: 2rem;line-height: 1.6rem;}
		.linktoarticle a {color: #666; margin: 0; padding: 0 .4rem;}
		.post-meta {color: #ccc; margin: 0; padding: 0 .4rem;}
 	}

	
}







//about us page

 .about-container {
	margin-bottom: 3em;

	@include breakpoint(break3) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: dense;
		grid-column-gap: 1.5em;

		}
	strong{font-weight: 600;}
		
	@include breakpoint(break5) {
			p {font-size: 1.1em;}
		}	
	@include breakpoint(break6) {
			p {font-size: 1.2em;}
		}	
			 
 }
