.card {
//	@include clearfix;
	border: .325rem dotted rgba(255, 255, 255, 0.33);
	text-align: center;
	font-weight: 400;
	font-size: 1rem;
	padding: 2em 0;
	background: rgba(255, 255, 255, 0.0);

	
	h3 {
		margin: 0 0 .5rem;
		font-weight: 600;
		padding: 0 2rem;

		}
	
	p {
		margin: 0;
		padding: 0;
		font-weight: 400;
		padding: 0 1rem;
		}
	

	&.withpic{
		padding: 1em;
		background: rgba(255, 255, 255, 0.8);
		
		img{
			width: 100%;
			height: auto;
			}
		h3 {margin-top: 1em;}	
		
		
		}
	.price {display: block; font-weight: bold; font-size: 1.2em
		
	}
}	
	
.pubs {	
	.pub-card {
		margin: 0em auto 2em;
		background: rgba(143, 176, 144, 0.4);
		background: #fff;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		
		//&> * {flex: 1 100%}
		
		
			h1 {
				font-family: $body-font;
				font-size: 2.2rem;
				padding: 1rem 1rem .4em;
				margin: 0;
				color: rgba(31, 60, 74, 1);
			}
// 			.address p {background: #444; padding: 1rem}
			
			p {
				font-family: $utility-font;
				font-size:1rem;	
				padding: 0 1rem 1rem;
				margin-bottom: 0;
			}	
		.pub-card-footer{
			flex-grow: 100%;
			background: rgba(31, 60, 74, 1);	
			padding: 1rem 1rem;
			display: flex;
			flex-direction: row;
			align-content: space-around;
				
				a.button{
				font-size: 1rem;	
				margin: 0 auto;
				padding: .4rem 1.4rem;
				}
			}	
	}
}
	
.featuredcard, .featuredcard-home {
	display: flex;
	justify-content: center;
	height: 22em;
	margin-bottom: 3em;
	text-decoration: none;	
		
	&.locationcard{
		background:
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(/assets/img/mappin.png) left 8% bottom 3% no-repeat, 
		url(/assets/img/mappin.png) right -2% bottom 70% no-repeat, 
		url(/assets/img/mappin.png) right 50% top 3% no-repeat, 
		url(/assets/img/mappin.png) 1% 3% no-repeat,
		url(/assets/img/mappin.png) 90% 90% no-repeat, 
		url(/assets/img/mappin.png) 10% 10% no-repeat, 
		linear-gradient(rgba(199, 0, 0, 0.6), rgba(199, 0, 0, 0.6)), 
		url(/assets/img/map.jpg) top left repeat;
		background-attachment: fixed,fixed,fixed,fixed,scroll,scroll,fixed,fixed,fixed;
	
			&:hover{
			background:
			url(/assets/img/mappin.png) left 8% bottom 3% no-repeat, 
			url(/assets/img/mappin.png) right -2% bottom 70% no-repeat, 
			url(/assets/img/mappin.png) right 50% top 3% no-repeat, 
			url(/assets/img/mappin.png) 1% 3% no-repeat,
			url(/assets/img/mappin.png) 90% 90% no-repeat, 
			url(/assets/img/mappin.png) 10% 10% no-repeat, 
			linear-gradient(rgba(199, 0, 0, 0.6), rgba(199, 0, 0, 0.6)), 
			url(/assets/img/map.jpg) top left repeat;
			background-attachment: fixed,fixed,fixed,fixed,scroll,scroll,fixed,fixed,fixed;
			}
		
		}
		
	&.foodcard{
		background:
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		linear-gradient(rgba(255, 167, 0, 0.4),rgba(255, 167, 0, 0.6)), 
		url(/assets/img/pie.jpg) left bottom no-repeat;
		background-attachment: fixed;
		background-origin: border-box;
		background-size: cover;
			
			&:hover{
			background:
			linear-gradient(rgba(255, 167, 0, 0.4),
			rgba(255, 167, 0, 0.6)), url(/assets/img/pie.jpg) left bottom no-repeat;
			background-attachment: fixed;
			background-origin: border-box;
			background-size: cover;
			}
		
		}
		
	&.newscard{
		background:
		linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), 
		url(/assets/img/news.jpg) right bottom no-repeat;
		background-attachment: fixed;
		background-origin: padding-box;
		background-size: cover;
			
			&:hover{
			background:
			linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), 
			url(/assets/img/news.jpg) right bottom no-repeat;
			background-attachment: fixed;
			background-origin: padding-box;
			background-size: cover;
			}
		}	
			
	.featureheader {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-left: 1em;
		margin-right: 1em;
			h3 {
				font-size: 3em;
				padding: .5em .4em .3em;;
				margin: 0;
				font-weight: 200;
				line-height: 80%;
				background: rgba(255, 255, 255, 0.9);
				}
			p {
				background: rgba(31, 60, 74, 0.9);
				padding: .6em;
				color: #fff;
				font-size: 1.6em;
				}
	}
	
			
	&.menu1{
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
				url(/assets/img/breakfast.jpg) right bottom no-repeat;
		&:hover {
			background:url(/assets/img/breakfast.jpg) right bottom no-repeat;}
			}
		
	&.menu2 {
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
				url(/assets/img/salad.jpg) right bottom no-repeat;
		&:hover {
			background:url(/assets/img/salad.jpg) right bottom no-repeat;}
			}
	
	&.menu3 {
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
			url(/assets/img/roastchicken.jpg) center center no-repeat;
		&:hover {
			background:url(/assets/img/roastchicken.jpg) center center no-repeat;}
			}
				
	&.menu4 {
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
			url(/assets/img/dessert.jpg) center center no-repeat;
		&:hover {
			background:url(/assets/img/dessert.jpg) center center no-repeat;}
			}
		
	&.menu5 {
		background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4) 0%),
		url(/assets/img/supperclub.jpg) center center no-repeat;
		&:hover {
			background:url(/assets/img/supperclub.jpg) center center no-repeat;}
			}
		
	&.menu6 {
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
				url(/assets/img/RoastDinner.jpg) center bottom no-repeat;
		&:hover {
			background:url(/assets/img/RoastDinner.jpg) center bottom no-repeat;}
			}
		
	&.menu7{
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
				url(/assets/img/kids.jpg) center center no-repeat;
		&:hover {
			background:url(/assets/img/kids.jpg) center center no-repeat;}
			}
	
	&.menu8{
		background:linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0,0,0,0.4) 0%),
				url(/assets/img/wine.jpg) center center no-repeat;
		&:hover {
			background:url(/assets/img/wine.jpg) center center no-repeat;}
			}



	&.menucard{}
}
	
	@include breakpoint(break4) {
		.locationcard{width: 100%; margin-bottom: 2em;}
		.foodcard{width: calc(50% - 1em);margin-right: 2em;margin-bottom: 0;}
		.newscard{width: calc(50% - 1em);margin-right: 0em;margin-bottom: 0;}	
		.menu1{width: calc(50% - 1em);margin-right: 2em;margin-bottom: 2em;}
		.menu2 {width: calc(50% - 1em);margin-right: 0em;margin-bottom: 2em;}
		.menu3 {width: 100%; margin-right: 0em; margin-bottom: 2em;}
		.menu4 {width: calc(50% - 1em);margin-right: 2em;margin-bottom: 2em;}
		.menu5 {width: calc(50% - 1em);margin-right: 0em;margin-bottom: 2em;}
		.menu6 {width: calc(50% - 1em);margin-right: 2em;margin-bottom: 2em;}
		.menu7 {width: calc(50% - 1em);margin-right: 0em;margin-bottom: 2em;}		
	}

		
	@include breakpoint(break5) {
		.locationcard, .foodcard, .newscard {width: auto; margin: 0;}
		.menu1, .menu2, .menu3, .menu4, .menu5, .menu6, .menu7  {width: auto; margin: 0; margin-bottom: 3em;}
	}

