.card {
//	@include clearfix;
	border: .325rem dotted rgba(255, 255, 255, 0.33);
	text-align: center;
	font-weight: 400;
	font-size: 1rem;
	padding: 2em 0;
	background: rgba(255, 255, 255, 0.0);

	
	h3 {
		margin: 0 0 .5rem;
		font-weight: 600;
		padding: 0 2rem;

		}
	
	p {
		margin: 0;
		padding: 0;
		font-weight: 400;
		padding: 0 1rem;
		}
	

	&.withpic{
		padding: 1em;
		background: rgba(255, 255, 255, 0.8);
		
		img{
			width: 100%;
			height: auto;
			}
		h3 {margin-top: 1em;}	
		
		
		}
	.price {display: block; font-weight: bold; font-size: 1.2em
		
	}
}	
	
	
.featuredcard {
	display: flex;
	justify-content: center;
	height: 22em;
	margin-bottom: 3em;
	
	
	
	
		
	&.locationcard{
		background:
		url(/assets/img/mappin.png) left 8% bottom 3% no-repeat, 
		url(/assets/img/mappin.png) right -2% bottom 70% no-repeat, 
		url(/assets/img/mappin.png) right 50% top 3% no-repeat, 
		url(/assets/img/mappin.png) 1% 3% no-repeat, 
		linear-gradient(rgba(199, 0, 0, 0.6), rgba(199, 0, 0, 0.6)), 
		url(/assets/img/map.jpg) top left repeat;
		background-attachment: fixed,fixed,fixed,fixed,fixed,fixed;
		
		
		}
		
	&.foodcard{
		background:
		linear-gradient(rgba(255, 167, 0, 0.4),
		rgba(255, 167, 0, 0.6)), url(/assets/img/pie.jpg) left bottom no-repeat;
		background-attachment: fixed;
		background-origin: border-box;
		background-size: cover;
		}
		
	&.newscard{
		background:
		linear-gradient(rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.4)), url(/assets/img/news.jpg) right bottom no-repeat;
		background-attachment: fixed;
		background-origin: padding-box;
		background-size: cover;
		}	
			
	.featureheader {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-left: .325em;
		margin-right: .325em;
			h3 {
				font-size: 3em;
				padding: .5em 0 .3em;;
				margin: 0;
				font-weight: 200;
				line-height: 80%;
				background: rgba(255, 255, 255, 0.9);
				}
			p {
				background: rgba(31, 60, 74, 0.9);
				padding: .6em;
				color: #fff;
				font-size: 1.6em;
				}
	}
}

	@include breakpoint(break4) {
		.locationcard{width: 100%; margin-bottom: 2em;}
		.foodcard{width: calc(50% - 1em);margin-right: 2em;margin-bottom: 0;}
		.newscard{width: calc(50% - 1em);margin-right: 0em;margin-bottom: 0;}
	}
	@include breakpoint(break5) {
		.locationcard{width: auto; margin: 0;}
		.foodcard{width: auto; margin: 0;}
		.newscard{width: auto; margin: 0;}
	}

