.card {
//	@include clearfix;
	border: .325rem dotted rgba(255, 255, 255, 0.33);
	text-align: center;
	font-weight: 400;
	font-size: 1rem;
	padding: 2em;
	background: rgba(255, 255, 255, 0.0);

	
	h3 {
		margin: 0 0 .5rem;
		font-weight: 600;
		padding: 0 2rem;

		}
	
	p {
		margin: 0;
		padding: 0;
		font-weight: 400;
		padding: 0 1rem;
		}
	

	&.withpic{
		padding: 1em;
		background: rgba(255, 255, 255, 0.8);
		
		img{
			width: 100%;
			height: auto;
			}
		h3 {margin-top: 1em;}	
		
		
		}
	.price {display: block; font-weight: bold; font-size: 1.2em
		
	}
	
	
	&.featuredcard {
		border: solid rgba(31, 60, 74, 0.2) 0.125em;
		min-height: 15em;
		
	&.locationcard{
	background: url(/assets/img/mappin.png) left .4em bottom no-repeat, 
	url(/assets/img/map.jpg) top left repeat;
	background-attachment:scroll, fixed;
	}
	&.foodcard{
	background: url(/assets/img/pie.jpg) center 10% no-repeat;
	background-attachment:fixed;
	background-origin: border-box;	
	background-size: contain;
	}
	&.newscard{
	background: url(/assets/img/news.jpg) bottom center no-repeat;
	background-attachment:fixed;
	background-origin: padding-box;	
	background-size: contain;}	
	}		
	.featureheader {background: rgba(31, 60, 74, 0.98); background: rgba(255, 255, 255, 0.8); padding: 1em 0.6em 0.6em;margin: 0 2em;
		h3 {font-size: 2rem;font-weight: 200;}
		p{ background: rgba(31, 60, 74, 0.9); padding: .6em; color: #fff; }
	}
}