//$break-1: 28.125em; /* 450px / 16px = 28.125em */
//$break-2: 35em; /* 560px / 16px = 35em */
//$break-3: 48em; /* 768px / 16px = 48em */
//$break-4: 56em; /* 896px  / 16px = 56em */
//$break-5: 76.5em; /* 1224px / 16px = 76.5em */


header {
	background:
	linear-gradient(
    rgba(143, 176, 144, 1) 20%, 
    rgba(143, 176, 144, 0.05),
    rgba(143, 176, 144, 1) 90%    
    ),
	url(/assets/img/placeholder2.jpg) center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	transition: all .5s;
	z-index: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height:12rem;
		@include breakpoint(break1) {height:20rem;}
		@include breakpoint(break2) {height:24rem;}
		@include breakpoint(break3) {height:28rem;}
		@include breakpoint(break4) {height:32rem;}
		
	h2 {
		max-width: 80%;
		margin: 0 auto; 
		padding: .6rem;
		text-shadow: none;
		border-radius: .025rem;
		vertical-align: middle;
		color: #fff;
		text-align: center;
		@include breakpoint(break1) {font-size: 2rem;}
		@include breakpoint(break2) {font-size: 1.4rem;}
		@include breakpoint(break3) {font-size: 4rem; line-height: 4rem;}
		@include breakpoint(break4) {font-size: 7rem; line-height: 7rem;}
		
		span.highlight {font-size: calc(100% + 50%);}
	}
}









