//$break-1: 28.125em; /* 450px / 16px = 28.125em */
//$break-2: 35em; /* 560px / 16px = 35em */
//$break-3: 48em; /* 768px / 16px = 48em */
//$break-4: 56em; /* 896px  / 16px = 56em */
//$break-5: 76.5em; /* 1224px / 16px = 76.5em */


header {
	background: url(/assets/img/placeholder3.jpg) center center no-repeat ;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	//height:12rem;
	transition: all .5s;
	z-index: 0;
	text-align: center ;
	//display: flex;
	align-items: center;
	justify-content: center;
	margin-top:5rem;
	@include breakpoint(break1) {height:24rem;}
	@include breakpoint(break2) {height:28rem;}
	@include breakpoint(break3) {height:32rem;}
	@include breakpoint(break4) {height:36rem;}
	
	}	
	
	.badge { background: rgba(31, 60, 74, 0.98); margin-top: -7rem; padding: 3rem 1rem 1rem;   // just here to group h1 & h2 so that these can be vertically aligned with flexbox 
		
		h1 {
			font-size: 3.5rem;
			color: #fff;
		}
		img { width: 4em;}
/*
	
	h1 {
		font-size: 4rem;
		margin: 0 0 5%;
		padding: 0 0 1.8rem;
		color: rgba(255, 255, 255, 0.8);
		display: inline-block;
	@include breakpoint(break1) {font-size: 5rem; }
	@include breakpoint(break2) {font-size: 7rem; padding: 0 0 3rem;}			
	@include breakpoint(break3) {font-size: 9rem; padding: 0 0 4rem;}
	@include breakpoint(break4) {font-size: 12rem; padding: 0 0 6rem;}
	
	}
*/
		
	h2 {
		background: rgba(0, 0, 0, 0.6);
		margin: 0; 
		font-size: .8rem;
		padding: .6rem;
		text-shadow: none;
		border-radius: .025rem;
		display: inline-block;
		color: #fff;
		@include breakpoint(break1) {font-size: 1rem;}
		@include breakpoint(break2) {font-size: 1.4rem;}
		@include breakpoint(break3) {font-size: 1.6rem;}
		@include breakpoint(break4) {font-size: 2rem;}
	}
}









