//$break-1: 28.125em; /* 450px / 16px = 28.125em */
//$break-2: 35em; /* 560px / 16px = 35em */
//$break-3: 48em; /* 768px / 16px = 48em */
//$break-4: 56em; /* 896px  / 16px = 56em */
//$break-5: 76.5em; /* 1224px / 16px = 76.5em */


header {
	width:100%;
	transition: all .5s;
	z-index: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height:70vh;
	
	//margin-top: 4em;
		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {}
		@include breakpoint(break5) {margin-top: -2em;}
		
	&.hero {
		background: linear-gradient(
		rgba(143, 176, 144, 1) 0%, 
		rgba(143, 176, 144, 0.05) 50%,
		rgba(143, 176, 144, 1) 1000%,
		),
		url(/assets/img/placeholder3.jpg) center center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		}		
		
	h2 {		
		max-width: 90%;
		margin: 0 auto; 
		padding: .6rem;
		text-shadow: none;
		vertical-align: middle;
		color: #fff;
		text-align: center;
		font-size: 2rem;
		@include breakpoint(break1) {font-size: 2.6rem;line-height: calc(100% + 20%);}
		@include breakpoint(break2) {font-size: 4.4rem;}
		@include breakpoint(break3) {font-size: 5.4rem;}
		@include breakpoint(break4) {font-size: 6rem;}
		@include breakpoint(break5) {font-size: 6.4rem; line-height: 5rem;}
		@include breakpoint(break6) {font-size: 8rem; line-height: 6rem;}
		
			span.highlight {font-size: calc(100% + 50%); line-height: calc(100% + 30%);}
		}
		
	.feelathome-hero {width: 30%; margin: .4em auto;
		@include breakpoint(break2) {width: 20%;}
		@include breakpoint(break3) {width: 10%;}
	}
}

// Section headers

.section{
	
	
	h1 {
		color: rgba(143, 176, 144, 1);
		font-size: 4em;
		margin: 1em 0 0;
		}
		.supp-image {display: none;
			@include breakpoint(break5) {display: block; width:100%;}				
	} //only show supplementary images where it makes sense


}




