//test breakpoint scss
//$break-1: 28.125em; /* 450px / 16px = 28.125em */
//$break-2: 35em; /* 560px / 16px = 35em */
//$break-3: 48em; /* 768px / 16px = 48em */
//$break-4: 56em; /* 896px  / 16px = 56em */
//$break-5: 76.5em; /* 1224px / 16px = 76.5em */



.section{


.menuitems {
	
	text-align: center;

	@include breakpoint(break1) {}
	@include breakpoint(break2) {}
	@include breakpoint(break3) { display: grid; grid-template-columns:1fr 1fr; grid-gap:1em; text-align: left; }
	@include breakpoint(break4) {}
	@include breakpoint(break5) {grid-template-columns: 1fr 1fr 1fr;}				
	@include breakpoint(break6) {grid-template-columns: 1fr 1fr 1fr 1fr;}				
	}
	
	
	
/*
	display: grid;
	grid-template-columns:   1fr;
	@include breakpoint(break1) {grid-template-columns: 1fr 1fr; grid-gap:1em; }
	@include breakpoint(break2) {grid-template-columns: 1fr 1fr;}
	@include breakpoint(break3) {grid-template-columns: 1fr 1fr 1fr;}
	@include breakpoint(break4) {}
	@include breakpoint(break5) {}				
	}	
*/
	
	
	h2 {
		font-family: $body-font;
		//text-transform: uppercase;
		font-size: 2em;
		line-height: 100%;
		margin-bottom: 1em;
		
	}

	h3 {
		font-family: $display-font;
		font-size: 3em;
		margin: 0;
		line-height: 1.4em;
		padding-bottom: .3em;
		color: #8fb090;
		}	
	
	p {
		font-family: $utility-font;
		font-weight: 100;
		line-height: 1.3em;
		font-size: 1.1rem;
		
		.dishhead{
			font-weight: 600;
			text-transform: uppercase;
					
		}
					
		strong{font-weight: 600;}
		
		.price {
			font-family: $body-font;
			text-transform: uppercase;
			font-weight: 600;
			display: block;
			padding-top: .325em;
		}
		
		&.dish-highlight {
			background: rgba(143, 176, 153, 0.4);
			padding: .3em;
			border: 3px #8fb090 dotted; 
			text-transform: uppercase; 
			margin-bottom: .3em;			
		}
	
	}
	
		.section-out {
			background: rgba(143, 176, 153, 0.4);
			padding: .3em;
			border: 3px #8fb090 dotted;
			h2 {text-align: center;margin: .2em;
			}
				.items{display: flex; flex-wrap: wrap; justify-content: space-evenly; align-content: stretch;
					p{margin: .4em;text-align: center; border: 1px solid rgba(255, 255, 255, 0.50); padding: .5em; background: rgba(255, 255, 255, 0.20); flex-grow: 1;}
				}
				
			
			}	

		.standout {text-align: center;
		}
	
	.sixclub::before{content: "6 Club"; color: rgba(255, 255, 255, .9); padding:.2em .3em; background: rgba(143, 176, 144, 0.61);border-radius: 50%; border: 1px solid #fff; margin-right: .4em; float: right;}
	.Y, .y {background: rgba(143, 176, 153, 0.4); padding: .3em; border: 3px #8fb090 dotted;}
	.explainer { margin: 1em 0 1em; background: rgba(84, 43, 7, 0.2); padding: 1em;}
	
	.spanthegrid{
		@include breakpoint(break3) {grid-column: 1 / 3;}
		@include breakpoint(break5) {grid-column: 1 / 4;}				
		@include breakpoint(break6) {grid-column: 1 / 5;}				

		
		}
		
		
		
	h2.spanthegrid {margin-bottom: 0;}	
	h3.spanthegrid {width: 100%; margin-bottom: .5em; text-align: center;}	
		
		
}