.section{
	.menu-image {display: none;
			@include breakpoint(break5) {display: block; width:100%;}				
	}


.menuitems {

	display: grid;
	grid-template-columns:   1fr;
	@include breakpoint(break1) {grid-template-columns: 1fr 1fr; grid-gap:1em; text-align: left;}
	@include breakpoint(break2) {grid-template-columns: 1fr 1fr;}
	@include breakpoint(break3) {grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint(break4) {grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint(break5) {}				
	}

	
	h2 {
		font-family: $body-font;
		//text-transform: uppercase;
		font-size: 3em;
		line-height: 100%;
		
	}
	
	h3 {
		font-family: $display-font;
		font-size: 4em;
		margin: 0;
		line-height: 1.4rem;
		padding-bottom: .3em;
		color: #8fb090;
		}	
	
	p {
		font-family: $utility-font;
		font-weight: 100;
		
		.dishhead{
			font-weight: 600;
			text-transform: uppercase;
					
		}
					
		
		.price {
			font-family: $body-font;
			text-transform: uppercase;
			font-weight: 600;
			display: block;
			padding-top: .325em;
		}
		
		&.dish-highlight {
			background: rgba(143, 176, 153, 0.4);
			padding: .3em;
			border: 3px #8fb090 dotted; 
			text-transform: uppercase;
			
		}
	}
	
}