.section{


.menuitems {
	
	* {text-align: center;}

	display: grid;
	grid-template-columns:   1fr;
	@include breakpoint(break1) {grid-template-columns: 1fr 1fr; grid-gap:1em; text-align: left;}
	@include breakpoint(break2) {grid-template-columns: 1fr 1fr;}
	@include breakpoint(break3) {grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint(break4) {grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint(break5) {}				
	}

	
	h2 {
		font-family: $body-font;
		//text-transform: uppercase;
		font-size: 3em;
		line-height: 100%;
		
	}

	h3 {
		font-family: $display-font;
		font-size: 4em;
		margin: 0;
		line-height: 1.4rem;
		padding-bottom: .3em;
		color: #8fb090;
		}	
	
	p {
		font-family: $utility-font;
		font-weight: 100;
		
		.dishhead{
			font-weight: 600;
			text-transform: uppercase;
					
		}
					
		strong{font-weight: 600;}
		
		.price {
			font-family: $body-font;
			text-transform: uppercase;
			font-weight: 600;
			display: block;
			padding-top: .325em;
		}
		
		&.dish-highlight {
			background: rgba(143, 176, 153, 0.4);
			padding: .3em;
			border: 3px #8fb090 dotted; 
			text-transform: uppercase; 			
		}
	
	}
	
		.section-out {
			background: rgba(143, 176, 153, 0.4);
			padding: .3em;
			border: 3px #8fb090 dotted;
			h2 {text-align: center;margin: .2em;
			}
				.items{display: flex; flex-wrap: wrap; justify-content: space-evenly; align-content: stretch;
					p{margin: .4em;text-align: center; border: 1px solid rgba(255, 255, 255, 0.50); padding: .5em; background: rgba(255, 255, 255, 0.20); flex-grow: 1;}
				}
				
			
			}	

		.standout {text-align: center;
		}
	
	.sixclub::after{content: "6 Club"; color: rgba(255, 255, 255, .9); padding:.2em .3em; background: rgba(143, 176, 144, 0.61);border-radius: 50%; border: 1px solid #fff;}
	.explainer { background: rgba(84, 43, 7, 0.2);padding: .3em;border: 1px #fff solid;}
	
	.spanthegrid{grid-column: 1 / 3;
		@include breakpoint(break3) {grid-column: 1 / 4;}
		}
		
	h2.spanthegrid {margin-bottom: 0;}	
		
		
}