nav{
	width: 100%;
	padding: 0;
	color: #eee;

	
	ul{
		list-style: none;
		padding: 0em 0;
		margin-top: -4rem; 
		display: flex;
		justify-content: space-between;



		li{
		margin: 0;
		padding: .325em .323em .125em;
			
			&.active{ border-bottom: 2px solid #666;}

			a {
				color: #666;
				text-decoration: none;
				&:visited { color: #666;}
				&:active { color: #666;}
				&:hover { color: #666; text-decoration: underline;}
			}
	
		}
	} 
}

.subnav {
		list-style: none;
		padding: 0;
		margin: 0; 
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
			li {
				
			}
}