.promo-block{
	
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: space-between;

		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {flex-direction: row;flex-wrap: nowrap;}
		@include breakpoint(break4) {}
		@include breakpoint(break5) {}
		@include breakpoint(break6) {}
		
		
	
	.textarea {
			color: #fff;
			margin: 0 0 0 0em;
			padding: 1em 0em;
			font-size: 1.4em;
			max-width: 100%;	
		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {padding: 1em 1em 1em 0em; max-width: calc(60% - 2em);}
		@include breakpoint(break4) {}
		@include breakpoint(break5) {
			max-width:calc(50% - 2em);
			}
		@include breakpoint(break6) {}

		
		h2{ 
			font-family: $display-font;
			font-size: 4rem;
			font-weight: 200;	
			line-height:1em;
			padding: 0;
			margin:0 0 .325em;
			}
		
		p{margin: 0 0 .625rem;
			&:last-of-type {margin-bottom: 0;}
		}
	}	
	
	.bgimg {
		//overflow:hidden;
		background: url(/assets/img/aw18.gif) center center;
		background-size:cover;
		width:100%;
		height: 12em;
		
		@include breakpoint(break3) {
		height: auto;
			
		}
	}
}	

	
