


.promo-block{
	
	
	.bgimg {
	background: url(/assets/img/dessert.jpg) center center no-repeat ;
	background-size:cover;
	min-height: 12em;
	}
	
	.textarea {padding: 1em; color: #fff;margin: auto 0;
		
	}
	
	h2{ 
	font-family: $display-font;
	font-size: 4rem;
	font-weight: 200;	
	line-height:1em;
	padding: 0;
	margin:0 0 .325em;
	}
	
	p{margin: 0 0 .625rem;
		&:last-of-type {margin-bottom: 0;}
	}
	
	}
