.promo-block{
	
			display: flex;
			flex-wrap: nowrap;


		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {
			flex-wrap: nowrap;
			}
		@include breakpoint(break5) {}
		@include breakpoint(break6) {}
		
		
	
	.textarea {
			color: #fff;
			margin: 0 0 0 0em;
			padding: 1em;
			font-size: 1.4em;
			max-width: calc(70% - 2em);
				
		@include breakpoint(break1) {}
		@include breakpoint(break2) {}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {}
		@include breakpoint(break5) {
			max-width:calc(50% - 2em);
			}
		@include breakpoint(break6) {}

		
		h2{ 
			font-family: $display-font;
			font-size: 4rem;
			font-weight: 200;	
			line-height:1em;
			padding: 0;
			margin:0 0 .325em;
			}
		
		p{margin: 0 0 .625rem;
			&:last-of-type {margin-bottom: 0;}
		}
	}	
	
	.bgimg {
		overflow:hidden;
		width:30%;
		max-width:30%;
		background: url(/assets/img/dessert.jpg) center center;
		background-size: cover;
		background-attachment: fixed;
		
		@include breakpoint(break5) {
			width:50%;
						max-width:50%;
			}
	}
}	

	
