.signup {
	background: url(/assets/img/patternBlue.png);
	background-image: url(/assets/img/menutexture-dk.jpg);
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;	
	padding: 4rem 0rem 2rem;
	
	.title {
		display: flex;
						flex-wrap: wrap;
				align-items: baseline;
				justify-content: flex-start;
				margin-bottom: 1em;
	
	h2, h3 {margin: 0 1em .3em 0;display: inline-block;}
	}
	
	.signup-container {
		background: none;
		margin-top: 0;
	}
		
}	

#mc_embed_signup_scroll {width: 100%;}

.mc_embed_signup_scroll {width: 100%;}


			.signupform-outer {
				background: rgba(143, 176, 144, 0.2);
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-start;
				padding: 1em;
				
				
						@include breakpoint(break5) {justify-content: space-around;}

				 
				 label {font-family: $body-font; margin: .2em; margin-right: 1em; align-self: flex-start;}
				 input[type="submit"] {margin: 0; align-self: flex-end;}

				}