---
layout: htmlbasepubmain
pubname: The Hawthorn Inn
pubnav: 'HawthornInnPontypridd'

title: The Hwthorn Inn, Pontypridd
pagetitle: The Hawthorn Inn - Home
permalink: /pubs/the-hawthorn-inn-pontypridd/index.html
heromain: Welcome
herosub: to The Hawthorn Inn
heroimgpath: '/pubs/the-hawthorn-inn-pontypridd/img/placeholder.jpg'
---


<style>
		.hero {
		
		background: 
		linear-gradient( rgba(143, 176, 144, 1) 0%, 
		rgba(143, 176, 144, 0.05) 50%, 
		rgba(143, 176, 144, 1) 1000%),
		url( {{ page.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		}
	
</style>	
	


<div class="fullbg section">
	<div class="container pub-home">
		

		
		<div class="intro">
		
				<p><strong>At the Hawthorn Inn, we are committed to welcoming customers old and new with the upmost professionalism and great customer service.</strong> Sign up to our mailing list to hear the latest news, live events and offerings at the Hawthorn Inn pub.</p>				
			
		</div> <!-- eof intro -->	
			
		<div class="intro-img"><img src="{{ site.baseurl }}/assets/img/placeholder.jpg" alt="alt text" /><br />
		<img src="{{ site.baseurl }}/assets/img/placeholder.jpg" alt="alt text" />
		</div>				
			
	</div><!-- eof pub-home-->
</div><!-- eof full bg-->	

{% include socialwall-block.html %}	

{% include signup.html %}	


