---
layout: "htmlbasemain"
author: "James"
title:
pagetitle: "Welcome to "


heromain: "Our Local"
herosub: A great selection of local pubs
heroimgpath: /assets/img/placeholder3.jpg

---

<style>
	.hero {
		background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		),	
		url( "{{ layout.heroimgpath }}" );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: scroll;	
		}
		
		
		
	@media only screen and (min-width : 48em)  { 
			
		
		.hero {	
/*
		background: 
		linear-gradient( rgba(143, 176, 144, 1) 0%, 
		rgba(143, 176, 144, 0.05) 50%, 
		rgba(143, 176, 144, 1) 1000%),
		url( {{ layout.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
*/
		background-attachment: fixed;
		}	
			
	}
		
		
		
	
</style>	
	



{% include featurecard-block.html %}
{% include signup.html %}
