<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
	
	  <title>Your Local Pub: {{ page.title }}</title>
	  <meta name="description" content="{{ site.description }}">
	  <meta name="author" content="{{ site.author }}">

	  <link href="https://fonts.googleapis.com/css?family=Lobster|PT+Sans|Rokkitt:200,300,400" rel="stylesheet">
	  <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">      <!-- was: {{ site.baseurl }}/assets/style.css -->
	  <link rel="apple-touch-icon-precomposed" href="{{ 'apple-touch-icon-precomposed.png' | relative_url }}">    <!-- {{ site.baseurl }}/apple-touch-icon-precomposed.png -->
	
	  <!--[if lt IE 9]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	  
	 	<script src="{{ '/assets/js/jquery.js' | relative_url }}"></script> 
		<script src="{{ '/assets/js/js.cookie.js' | relative_url }}"></script>
		<script src="{{ '/assets/js/scripts-min.js' | relative_url }}"></script>  
	  
	</head>
	<body>
			{% include mainnav.html %}
				{{ content }}
			{% include footer.html %}
			
			{% include GTM.html %}
			

	</body>
</html>
 



