---
layout: "htmlbase"
title: {{ page.title }}
---

<div class="fullbg section article-page">
	
	
	 <div class="section-header">
		 <div>
		 	<small class="back">Back to  <a href="{{ site.url }}/news">News &amp; Offers</a></small></p>
		 	
			 <h1>{{ page.title }}</h1><p class="post--date"><small class="post-meta">Posted by {{ page.author }}: <strong>{{ page.date | date_to_string }}</strong> </small> 
		</div>

	</div>		

	
	<div class="news-container">
	
		<div class="images"><img class="article-image" src="{{ "/postimages/" | relative_url }}{{ page.feat-image }}" alt="{{ page.img-alt }}"/>
			<img class="article-image" src="{{ "/postimages/" | relative_url }}{{ page.image2 }}" alt="{{ page.img-alt2 }}"/>
			<img class="article-image" src="{{ "/postimages/" | relative_url }}{{ page.image3 }}" alt="{{ page.img-alt3 }}"/>
			<img class="article-image" src="{{ "/postimages/" | relative_url }}{{ page.image4 }}" alt="{{ page.img-alt4 }}"/>
		</div>
			
			<div class="words">{{ content }}</div>
	</div>


</div><!-- eof main --> 

</div><!-- eof main post--> 

{% include signup.html %}



</div>