---
layout: "htmlbasepub"
title: {{ page.title }}

---

<div class="fullbg section article-page">
	
	
	 <div class="section-header">
		 <div>
		 	<small class="back">Back to  <a href="{{ page.back }}">Whats on</a></small></p>
		 	
			 <h1>{{ page.title }}</h1>
			 
		</div>

	</div>		

	
	<div class="news-container">
	
		<div class="images">
			{% if page.feat-image %}<img class="article-image" src="{{ site.baseurl }}/postimages/{{ page.feat-image }}" alt="{{ page.img-alt }}"/>{% endif %}
			{% if page.image2 %}<img class="article-image" src="{{ site.baseurl }}/postimages/{{ page.image2 }}" alt="{{ page.img-alt2 }}"/>{% endif %}

		</div>
			
			<div class="words">{{ content }}</div>
	</div>


</div><!-- eof main --> 

</div><!-- eof main post--> 

{% include signup.html %}



</div>




