---
layout: htmlbasepubmain
pubname: The Abbey
pubnav: 'TheAbbeySheffield'

title: The Abbey, Sheffield
pagetitle: The Abbey - Home
permalink: /pubs/the-abbey-sheffield/index.html
heromain: Welcome
herosub: to The Abbey
heroimgpath: '/assets/img/680119/The-Abbey-BAR.jpg'
---


<style>
		.hero {
		
		background: 
		linear-gradient( rgba(143, 176, 144, 1) 0%, 
		rgba(143, 176, 144, 0.05) 50%, 
		rgba(143, 176, 144, 1) 1000%),
		url( {{ page.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		}
	
</style>	
	


<div class="fullbg section">
	<div class="container pub-home">
		

		
		<div class="intro">
		
				<p><strong>Welcome to The Abbey in Sheffield. We pride ourselves for being the very best local catering for your every need and providing a genuine warm welcome.</strong> Enjoy relaxing in our snug whilst trying our new craft cask ales, or out on our large landscaped terrace with a refreshing bottle of prosecco after work. Your weekend nights out are also covered with regular entertainment and a wide range of spirits and popular bottled drinks. Or if it’s somewhere to go to wine and dine, our menu’s cater for all occasions.</p>				
			
		</div> <!-- eof intro -->	
			
		<div class="intro-img"><img src="{{ site.baseurl }}/assets/img/680119/The-Abbey-frontage.jpg" alt="alt text" /><br />
		<img src="{{ site.baseurl }}/assets/img/680119/The-Abbey-serve.jpg" alt="alt text" />
		</div>				
			
	</div><!-- eof pub-home-->
</div><!-- eof full bg-->	

{% include socialwall-block.html %}	

{% include signup.html %}	

