---
layout: htmlbasepubmain
pubname: The Boot Inn
pubnav: 'BootInnSuttonColdfield'
outletid: 680235

title: The Boot Inn, Sutton Coldfield
pagetitle: The Boot Inn - Home
permalink: /pubs/the-boot-inn-sutton-coldfield/index.html
heromain: Welcome
herosub: to The Boot Inn
heroimgpath: '/assets/img/680235/Boot-front.jpg'
---


<style>
		.hero {
		
		background: 
		linear-gradient( rgba(49, 99, 168, 1) 0%, 
		rgba(49, 99, 168, 0) 50%, 
		rgba(49, 99, 168, 1) 1000%),
		url( {{ page.heroimgpath }} );
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		}
	
</style>	
	


<div class="fullbg section">
	<div class="container pub-home">
		

		
		<div class="intro">
		
				<p><strong>Here at the Boot Inn and Kitchen pub in Sutton Coldfield we pride ourselves on delivering the best hospitality in a friendly environment.</strong> At the Boot Inn and Kitchen we are committed to welcoming customers old and new with the upmost professionalism and great customer service. Our staff are looking forward to serving you with our new fantastic range of drinks, great offers, delicious menu and events.</p>				
			
		</div> <!-- eof intro -->	
			
		<div class="intro-img"><img src="{{ site.baseurl }}/assets/img/680235/Boot-interior.jpg" alt="alt text" /><br />
		<img src="{{ site.baseurl }}/assets/img/680235/Boot-play.jpg" alt="alt text" />
		</div>				
			
	</div><!-- eof pub-home-->
</div><!-- eof full bg-->	

{% include socialwall-block.html %}	

{% include signup.html %}	
